.btn {
    // color: $btn-color;
    color: rgba(var(--color-accent-primary), 1);

    border: 0.1rem solid;
    border-radius: 0.2rem;

    cursor: pointer;

    text-align: center;

    &:hover {
        background-color: rgba(var(--color-accent-secondary), 0.192);
    }

    & a {
        text-decoration: none;

        color: rgba(var(--btn-color), 1);

        display: block;

        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    }
}