// Fix to the dynamic rgba alpha problem
// https://stackoverflow.com/questions/6962432/is-it-possible-to-change-only-the-alpha-of-a-rgba-background-colour-on-hover
:root {
    --color-page-bg: 61, 61, 61; // rgb(61, 61, 61)
    --color-nav-bg: 42, 42, 42; // rgb(42, 42, 42)
    --color-sidebar-bg: 26, 26, 26; // rgb(26, 26, 26)
    --color-footer-bg: 42, 42, 42; // rgb(42, 42, 42)
    --color-footer-text: 151, 151, 151; // rgb(151, 151, 151)

    --color-accent-primary: 112, 167, 250; // rgb(112, 167, 250)
    --color-accent-secondary: 33, 79, 148;// rgb(33, 79, 148)
    --color-accent-tertiary: 143, 143, 143; // rgb(143, 143, 143)
}