@mixin standard-field-styles($base: "current_section") {
    font-size: 1.6rem;
    padding: .8rem;
    outline: none;

    color: color-link($base, "text_color", "primary");
    background-color: color-link($base, "background_color", "secondary");

    border-radius: 0.2rem;
    border: 0.1rem solid color-link($base, "accent_color", "secondary");

    box-shadow: 0px 0px 3px 0px color-link($base, "accent_color", "primary", 0);

    transition: color 0.4s, box-shadow 0.4s, border 0.4s;

    // -----------------
    // --- Modifiers ---
    // -----------------

    &:focus {
        // border: 0.1rem solid color-link($base, "accent_color", "primary");
        box-shadow: 0px 0px 3px 0px color-link($base, "accent_color", "primary");

        &.error {
            box-shadow: 0px 0px 3px 0px color-link($base, "error_color", "primary"); 
        }
    }

    &.error {
        border: 0.1rem solid color-link($base, "error_color", "secondary");
    }

    &:disabled {
        color: color-link($base, "text_color", "secondary");
        box-shadow: 0px 0px 3px 0px color-link($base, "accent_color", "primary", 0);
        border: 0.1rem solid color-link($base, "text_color", "secondary", 0.5);
    }
}