@function __calculate-header-font-size($heading-num, $largest-font-size, $smallest-font-size) {
    $num-headings: 5;
    $font-difference: $largest-font-size - $smallest-font-size;
    $font-increment: $font-difference / ( $num-headings - 1);

    $font-size: $largest-font-size - ($font-increment * ($heading-num - 1));

    @return $font-size;
}

@mixin markdown-theme($largest-font-size: 3.2rem, $smallest-font-size: 1.7rem, $header-lines: true) {
    font-size: $smallest-font-size;
    font-weight: 300;

    & /deep/ {
        // -------------------------
        // --- Markdown stylings ---
        // -------------------------
        & h1, & h2, & h3, & h4, & h5 {
            font-weight: 500;
            &:not(:last-child) {
                margin-bottom: 0.3rem;
            }

            // Section spacing
            &:not(:first-child) {
                margin-top: 1.3rem;
            }
        }
        
        & h1 {
            position: relative;

            $font-size: __calculate-header-font-size(1, $largest-font-size, $smallest-font-size);
            font-size: $font-size;
            line-height: $font-size;

            // color: theme-link("project-details", "accent-color", "primary");
            color: color-link("current_section", "accent_color", "primary");

            font-weight: 600;

            @if $header-lines == true {
                // Section lines 
                &:not(:first-child) {
                    $top-margin: 3rem;
    
                    margin-top: $top-margin;
    
                    &::after {
                        content: "";
        
                        position: absolute;
                        top: calc((-1 * #{$top-margin})/2);
                        left: 0;
                        width: 100%;
                        height: 1px;
    
                        // background-color: theme-link("project-details", "text-color", "secondary", 0.2);
                        background-color: color-link("current_section", "text_color", "secondary", 0.2);
                    }
                }
            }
        }

        & h2 {
            $font-size: __calculate-header-font-size(2, $largest-font-size, $smallest-font-size);
            font-size: $font-size;
            line-height: $font-size;

            font-weight: 500;

            // color: theme-link("project-details", "accent-color", "primary");
            color: color-link("current_section", "accent_color", "primary");
        }

        & h3 {
            $font-size: __calculate-header-font-size(3, $largest-font-size, $smallest-font-size);
            font-size: $font-size;
            line-height: $font-size;

            font-weight: 500;

            // color: theme-link("project-details", "accent-color", "primary");
            color: color-link("current_section", "accent_color", "primary");
        }

        & h4 {
            $font-size: __calculate-header-font-size(4, $largest-font-size, $smallest-font-size);
            font-size: $font-size;
            line-height: $font-size;

            font-weight: 400;

            // color: theme-link("project-details", "accent-color", "primary", 0.8);
            color: color-link("current_section", "accent_color", "primary", 0.8);
        }

        & h5 {
            $font-size: __calculate-header-font-size(5, $largest-font-size, $smallest-font-size);
            font-size: $font-size;
            line-height: $font-size;

            font-weight: 400;

            // color: theme-link("project-details", "accent-color", "primary", 0.8);
            color: color-link("current_section", "accent_color", "primary", 0.8);
        }

        & p {
            &:not(:last-child) {
                margin-bottom: 0.3rem;
            }

            font-size: $smallest-font-size;
            line-height: calc(#{$smallest-font-size} + 0.5rem);
        }

        & strong {
            font-weight: 500;
            color: color-link("current_section", "accent_color", "primary");
        }

        & em {
            font-style: italic;
        }

        & ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            & li {
                $indentation: 0.7rem;
                $dot-size: 5px;
                $dot-spacing: 1rem;

                position: relative;

                padding-left: calc(#{$dot-size} + #{$dot-spacing});
                margin-left: $indentation;

                &::before {
                    content: "";

                    position: absolute;
                    top: 50%;
                    left: 0;

                    transform: translateY(-50%);

                    width: $dot-size;
                    height: $dot-size;

                    border-radius: 50%;

                    // background-color: theme-link("project-details", "selected-color", "primary");
                    background-color: color-link("current_section", "selected_color", "primary");
                }

                &:not(:last-child) {
                    margin-bottom: 0.6rem;
                }
            }
        }

        & a {
            color: inherit;
            text-decoration: none !important;

            // color: theme-link("project-details", "accent-color", "primary");
            color: color_link("current_section", "accent_color", "primary");

            transition: color 0.3s;

            &:hover {
                // color: theme-link("project-details", "selected-color", "primary");
                color: color-link("current_section", "selected_color", "primary");
            }
        }
    }
}