@import "./mediaQueryManager.scss";

@mixin Standard-Page-Layout($max-width) {
    position: relative;

    margin-top: 4.5rem;
    margin-bottom: 3rem;

    margin-right: auto;
    margin-left: auto;

    max-width: $max-width;
    width: 100%;

    padding-right: 5rem;
    padding-left: 5rem;

    @content;

    // ---------------------
    // --- Media Queries ---
    // ---------------------
    @include respond(tab-port) {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    @include respond(phone) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}